:root {
    --webowy-pogawedki-yellow: #FBD72B;
    --webowy-pogawedki-purple: #BF04F5;
}

.remark-slide-content {
    background-image: url('../../../images/general/Plain-Horizontal.png');
    padding: 1em 2em;
}

.remark-slide-content h1 {
    margin-bottom: 0;
}

.remark-slide-content img {
    box-shadow: 0 0 20px #000
}

.remark-slide-content a {
    color: white;
    border-bottom: 3px solid var(--webowy-pogawedki-yellow);
}

.remark-slide-content.slide-invert-colors a {
    color: var(--webowy-pogawedki-yellow);
}

.remark-slide-content a:hover {
    text-decoration: none;
    color: var(--webowy-pogawedki-yellow);
    border-bottom-style: dotted;
}

.remark-slide-content code {
    color: white;
    text-shadow: 4px 4px 0 #000;
    background-color: var(--webowy-pogawedki-purple);
}

.remark-slide-content pre code {
    text-shadow: none;
}

.slide-ruda h1 {
    text-align: center;
    font-size: 106px !important;
    font-weight: normal;
    margin: 508px 0 0 0;
}

.slide-thanks {
    padding: 50px 0 0 50px;
    color: white;
}

.slide-thanks h1 {
    font-family: Ruda, sans-serif;
}

.slide-thanks img {
    box-shadow: none;
}

.youtube {
    display: flex;
    align-items: center;
}

.youtube img {
    width: 100px;
    float: left;
    margin: 0 30px 0 0;
}

.music-player {
    display: flex;
    align-items: center;
}

.music-player .note {
    width: 100px;
    margin: 0 30px 0 0;
}

.song .title {
    margin: 0;
}

.song .title a {
    border: 0;
}

.song .title .icon {
    width: 32px;
    vertical-align: middle;
}

.song .author {
    margin: 5px 0;
}
